<div class="row">
  <div class="col s12">
    <%= form_with(model: [@user_file, note], local: true) do |form| %>
        <%= render 'layouts/errors', resource: @note, resource_name: 'Note' %>

        <div class="field">
          <%= form.label :text %>
          <%= form.text_field :text, required: true %>
        </div>


        <div class="actions">
          <%= form.submit nil, class: 'btn-small' %>
        </div>
    <% end %>

  </div>
</div>

