<div class="row">
  <div class="col s12">
    <%= form_with(model: user_file, local: true) do |form| %>
        <%= render 'layouts/errors', resource: user_file, resource_name: 'User File' %>


        <div class="field">
          <%= form.label :first_name %>
          <%= form.text_field :first_name %>
        </div>

        <div class="field">
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>

        <div class="field">
          <%= form.label :program %>
          <%= form.text_field :program%>
        </div>

        <div class="field">
          <%= form.label :fee %>
          <%= form.number_field :fee %>
        </div>

        <div class="field">
          <%= form.label :dob %>
          <%= form.date_field :dob %>
        </div>

        <div class="field">
          <%= form.label :address %>
          <%= form.text_field :address %>
        </div>

        <div class="field">
            <%= form.label :payment_status %>
            <%= form.select(:payment_status_color, [['IMMEDIATE F/UP', 'yellow'], ['CLIENT HOLD REQUEST', 'pink'], ['NON-PAYMENT HOLDS', 'red'], ['CLOSED FILE', 'purple']], {include_blank: true}, class: 'browser-default') %>
        </div>

        <div class="field">
          <%= form.label :discount %>
          <%= form.number_field :discount %>
        </div>

        <div class="field">
          <%= form.label :ssn %>
          <%= form.text_field :ssn %>
        </div>

        <div class="field">
          <%= form.label :placement_date %>
          <%= form.date_field :placement_date %>
        </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <%= form.file_field :files, multiple: true %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files (image and pdf)">
          </div>
        </div>

        <div class="actions">
          <%= form.submit 'Submit', class: 'btn blue lighten-2' %>
        </div>
    <% end %>

  </div>
</div>

