<p id="notice"><%= notice %></p>

<h1>User Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Program</th>
      <th>Fee</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Discount</th>
      <th>Payment Status</th>
      <th>Social Security</th>
      <th>Placement Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_files.each do |user_file| %>
      <tr>
        <td><%= user_file.full_name %></td>
        <td><%= user_file.program %></td>
        <td><%= user_file.fee %></td>
        <td><%= user_file.dob %></td>
        <td><%= user_file.address %></td>
        <td><%= user_file.discount %></td>
        <td style="background-color: <%= user_file.payment_status %>"></td>
        <td><%= user_file.ssn %></td>
        <td><%= user_file.placement_date %></td>
        <td><%= link_to 'Note', user_file_notes_path(user_file) %></td>
        <td><%= link_to 'Payment', user_file_receipts_path(user_file) %></td>
        <td><%= link_to 'Show', user_file %></td>
        <td><%= link_to 'Edit', edit_user_file_path(user_file) %></td>
        <td><%= link_to 'Destroy', user_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User File', new_user_file_path %>
