<div class="row">
  <div class="col s12">
    <%= form_with(model: [@user_file, receipt], local: true) do |form| %>
        <%= render 'layouts/errors', resource: @receipt, resource_name: 'Receipt' %>

        <div class="field">
          <%= form.label :amount %>
          <%= form.number_field :amount, required: true %>
        </div>

        <div class="actions">
          <%= form.submit nil, class: 'btn-small' %>
        </div>
    <% end %>

  </div>
</div>


