<p id="notice"><%= notice %></p>

<h1>Receipts</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= number_to_currency receipt.amount %></td>
        <td><%= link_to 'Edit', edit_user_file_receipt_path(@user_file, receipt) %></td>
        <td><%= link_to 'Destroy', user_file_receipt_path(@user_file, receipt), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


  <div>
    <%= render 'form', receipt: @receipt %>
  </div>
</table>

<br>