
<blockquote class=""><h3>Receipts</h3></blockquote>

<div>
  <%= render 'form', receipt: @receipt %>
</div>


<%if @user_file.receipts.present? %>

    <table class="striped centered">
      <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @receipts.each do |receipt| %>
          <tr>
            <td><%= number_to_currency receipt.amount %></td>
            <td><%= receipt.created_at.strftime('%d %b %Y') %></td>
            <td><%= link_to 'Edit', edit_user_file_receipt_path(@user_file, receipt), class: 'btn-small' %></td>
            <td><%= link_to 'Destroy', user_file_receipt_path(@user_file, receipt), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-small red' %></td>
          </tr>
      <% end %>
      </tbody>


    </table>

<%end%>


<br>